body {
  font-family:"Avenir Next";
}

.header{
    width:100%;
    height: 90px;
    background-color: #FF33CC;
}

.header-logo{
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  padding: 10px 60px;
}

.header-logo span {
  color: white;
}

.box30{
    margin: 2em 0;
    background: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.box30 .box-title {
    font-size: 50px;
    background: #00ECFF;
    padding: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.box30 p {
    padding: 15px 20px;
    margin: 0;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}
